@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham";
  src: url("../font/Gotham-Font/Gotham-Thin.otf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../font/Gotham-Font/Gotham-XLight.otf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../font/Gotham-Font/Gotham-Light.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../font/Gotham-Font/GothamMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../font/Gotham-Font/Gotham-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../font/Gotham-Font/Gotham-Black.otf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.centered {
  @apply flex flex-col text-center justify-center items-center mx-5 sm:mx-10 3xl:mx-1/10 4xl:mx-1/6 5xl:mx-1/5;
}

.text-gradient {
  @apply text-transparent bg-clip-text bg-gradient-to-br from-mainPink to-white;
}

@layer base {
  section {
    @apply h-[100vh];
  }

  h1 {
    @apply font-black text-5xl;
  }
  h2 {
    @apply text-3xl;
  }
}

html,
body {
  height: 3000px;
  background: white;
  /* background: linear-gradient(
    160deg,
    rgb(0, 0, 0) 0%,
    rgb(232, 110, 222) 70%,
    rgba(17, 15, 148, 0.5) 100%
  ); */
  color: #1e1e1e;
  padding: 0;
  margin: 0;
  font-weight: 100;
  font-family: "Gotham", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}
